body {
  margin: 25% 0;
  padding: 0;
  border: none;

  #root {
    min-height: 480px;
    margin: 0 10%;
    width: auto;
    height: auto;
  }

  header {
    margin: 0 auto;
    width: 80%;

    input {
      width: 80%;
      height: 2em;
      margin: 20px 0;
    }

    .submitSec {
      display: flex;
      flex-direction: row;
      padding: 0 10%;

      button {
        background-color: black;
        color: aliceblue;
        font-weight: 600;
        border-radius: 5px;
        width: 20%;
        height: 30px;
        margin-right: 1em;
      }

      p {
        font-size: x-small;
        height: fit-content;
        align-self:end;
      }
    }
  }

  main {
    margin: 0 auto;
    width: 90%;

    .entireList {
      margin-top: 10%;
      padding: 0;

      .singleItem {
        display: grid;
        grid-template-columns: 15% 70% 15%;
        margin-bottom: 1em;

        p {
          text-align:start;
        }
      }

    }
  }
}